body{
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0px;
	top:0;
	color: aquamarine;
	text-align: center
}

a{text-decoration: none; color: aliceblue;}
#nav-pc{
	background: rgba(207,0,3,0.71);
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center
}
#nav-pc ul li{
	text-align: center;
	padding: 14px;
	list-style: none;
	display: inline-block;
}
#nav-pc a{
	transition: 2s;
}
#nav-pc a:hover,
#nav pc a:active,
#nav pc a:focus{
	color: blue;
	text-decoration: none;
}
.nav-title{
	font-size: 36px;
	text-align: center;
	color: rgba(0,188,255,1.00);
}
.container{
	display: inline-block;
	text-align: center;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.78);
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 60px;
	padding-top: 20px;
}
.col{
	width: 31.3;
	display: inline-block;
	padding: 1%;
}