

body {
    background: #383F43;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.fullpage {
    width: 100%;
    display: inline-flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-default,
.btn-default:focus {
    background: #21343e;
    border: 0;
    color: white;
    padding: 10px 25px;
    transition: 1s ease;
}
.btn-default:hover,
.btn-default:active {
    background: #4f595f !important;
    color: #4F595F !important;
}
#anim1 {
    margin-top: 10px;
    animation: 1s textFx ease;
}
#Atomic {
    animation: 3s rocketFx ease;
}
@keyframes rocketFx {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3) rotate(-20deg);
    }
    35% {
        opacity: 1;
        transform: scale3d(0.6, 0.6, 0.6) rotate(0deg);
    }
    65% {
        opacity: 2;
        transform: scale3d(0.9, 0.9, 0.9) rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes textFx {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
}
