@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	margin: 0px;
	top:0;
	font-family: sans-serif;
	text-align: center;
}
#nav-pc {
	text-align: center;
	display: inline-block;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background: rgba(8,8,8,0.9);
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
#nav-pc ul li {
	list-style: none;
	display: inline-block;
	padding: 15px;
}
#nav-pc ul {
	padding: 0px;
	margin: 0px;
	left: 0;
	right: 0;
}
#nav-pc a {
	color: white;
	text-decoration: none;
	transition: 1s ease;
}
#nav-pc a:hover,
#nav-pc a:active,
#nav-pc a:focus {
	color: red;
	text-decoration: none;
}
.nav-title {
	font-size: 60px;
	font-family: 'Black Han Sans', sans-serif;
	padding: 15px;
	margin: 0;
}
.container {
	display: inline-block;
	text-align: left;
	width: 90%;
	background-color: rgba(0, 0, 0, 0.78);
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 60px;
	padding-top: 20px;
}
.hero-box h2 {
	text-align: center;
	padding-bottom: 20px;
}
.hero-box {
	margin: 0px 5%;	
}
.hero-box2 {
	height: 338px;
	background-image: url("../images/hero-images.jpg");
	background-size: cover;
	margin: 1%;
	
}
.col img {
	width: 100%;
	height: auto;
	display: block;
	
}

.col{
	width: 31.3%;
	float: left;
	margin: 1%;
}

#footer {
	text-align: center;
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.container1 {
	display: inline-block;
	text-align: right;
	width: 100%;
	background-color: rgba(0,0,0,0.80);
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
}

/*mobile*/
@media (max-width: 768px){
	.nav-title {
		font-size: 35px;
	}
	.col {
		float: none;
		width: 95%;
		display: inline-block;
	}
	nav ul li {
		display: block;
	}
}