#sidenav {
	text-align: center;
	display: inline-block;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background: rgba(253,0,4,0.00);
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
#sidenav ul li {
	list-style: none;
	display: inline-block;
	padding: 20px;
	font-size: 20px;
}

#sidenav a {
	color: red;
	text-decoration: none;
	transition: 1s ease;
}
#sidenav a:hover,
#sidenav a:active,
#sidenav a:focus {
	color: blue;
	text-decoration: none;
}
/*mobile*/
@media (max-width: 768px){
	p {
		font-size: 19px;
	}
	sidenav ul li a {
		display: block;
		padding: 12px;
	}
}